%h2 All Leagues
%ul
  - collection.each do |league|
    %li.section
      %h3= link_to league.name, league_path( league )
      %p.statistic
        %span= league.rankings.size
        Ranked Players
      %p.statistic
        %span= league.challenges.size
        Pending Challenges